[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[dev]
  functions = "netlify/functions"

[forms]
  submission-created = ""

[[plugins]]
  package = "@netlify/plugin-nextjs"