@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2, p {
  line-height: 1.5!important;
}

a {
  color: inherit;
  text-decoration: none;
}

.arrow {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.arrow:after {
  content: "";
  height: 0;
  width: 0;
  top: 0;
  border-left: 20px solid #2563EB;
  position: absolute;
  border-bottom: 36px solid transparent;
  border-top: 36px solid transparent;
  margin-right: -20px;
  right: 0; 
}

.dark-bg {
background-color: #02012e;
background-image: url("../public/images/general/cm-dark-bg.svg");
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.light-bg {
  background-color: #ffffff;
  background-image: url("../public/images/general/cm-light-bg.svg");
  background-attachment: fixed;
  background-size: cover;
}

.section-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffffff;
}

.hero-image-overlay {
  width: 100%;
  height: 100%;
  z-index: -1;
}
